<!DOCTYPE HTML>

<html lang="fr">
<head>
	<title>{{ pageTitle }}</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/Projet/blog_poo/public/css/styleDefaut.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body id="auth">
	<!-- Main -->
	<section class="container col-sm-12 col-md-6">
		<div id="authSection">
		<h1 id="authTitle">Billet simple pour l'Alaska</h1>
		<h3 id="authSubTitle">Connexion à la page d'administration</h3>
		<form id="authForm" method="post" action="{{ urlFront }}auth/login">
			<div class="form-group">
				<label><strong>Nom d'utilisateur</strong></label>
				<input type="text" name="username" class="form-control col-md-6 col-xs-12" value="Utilisateur"/>
			</div>
			<div class="form-group">
				<label>Mot de passe</label>
				<input type="password" name="password" class="form-control col-md-6 col-xs-12"/>
			</div>
			<br/>
			<div id="authButton">
				<button type="submit" class="btn btn-primary">Connecter</button>
				<a class="btn btn-primary" href="{{ urlFront }}" role="button">Retour sur le site</a>
			</div>
		</form>
	</div>
</section>


<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
