<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="public/css/frontStyle.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- \ script TinyMCE -->
	<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=3zgm6er2yqe2rtx39p33y6ckowqi8cnl4zjrp25mmwpurh8c"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
	<title>{{ pageTitle }}</title>
</head>
<body>
	<section class="">

		<div id="reportComment">
			<table>
			  <thead>
			    <tr>
			      <th>Auteurs</th>
			      <th>Commentaires</th>
			      <th>Date d'ajout</th>
			      <th>Nombre de signalement</th>
			      <th>Supprimer</th>
			    </tr>
			  </thead>
			    <tbody>
						{{ reports }}
			    </tbody>
			  </table>

				<table>
					<thead>
						<tr>
							<th>Publié le</th>
							<th>Titre de l'article</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>
						<tbody>
							{{ articles }}
						</tbody>
					</table>
		</div>
		<div id="formBlog">
			<form method="post" action="/Projet/blog_poo/admin/addPo">
				<label>Titre de l'article</label><br />
				<input type="text" name="title" value="{{  }}"/>
				<textarea name="content">{{  }}</textarea>
				<input type="submit" value="Poster" />
			</form>

		</div>
    <div id="">


    </div>
	</section>

</body>
</html>
