<h2>{{ title }}</h2>
<div class="col-md-12">
  {{ content }}  
</div>

<p class="font-italic text-right">Publié le : {{ published }}</p>
<h3>Ajouter un commentaire</h3>

<form method="post" action="{{ prefixe }}postCo/{{ id }}">
  <div class="form-group col-md-6">
    <label>Votre nom : </label>
    <input type="text" class="form-control" name="commentator" required>
  </div>

  <div class="form-group">
    <label>Votre commentaire : </label>
    <textarea name="comment" class="form-control" rows="8" cols="80" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Poster</button>

</form>
<h2>Commentaires</h2>
