<div id="commentTable" class="table-responsive-md">
  <table class="table table-striped col-lg-12 col-sm-12 mx-auto">
    <thead id="tableHead" class="thead-dark text-center">
      <tr>
        <th width=10% scope="col">{{ col1 }}</th>
        <th width=10% scope="col">{{ col2 }}</th>
        <th width=60% scope="col">{{ col3 }}</th>
        <th width=10% scope="col">{{ col4 }}</th>
        <th width=10% scope="col">{{ col5 }}</th>
      </tr>
    </thead>

    <tbody>
      {{ tableBody }}
    </tbody>
  </table>
</div>
